<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Junior Ok</title>
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
<th:block th:fragment="post_summary">
    <div class="card-group" th:object="${post}">
        <div class="card text-bg-light">
            <div class="card-header bg-transparent h5 text-muted">기업 정보</div>
            <div class="card-body">
<!--                <p class="card-text mb-1">•&nbsp임금체불여부:-->
<!--                    <span>없음</span>-->
<!--                </p>-->
                <p class="card-text mb-1">•&nbsp평균연봉:
                    <span th:text="${post.getCompany().getAvgSalary()}"></span>만원
                </p>
                <p class="card-text mb-1">•&nbsp임직원수/개발자수:
                    <span th:text="${post.getCompany().getEmployees()}"></span>
                    /
                    <span th:text="|${post.getCompany().getDevelopers() >= 0 ? post.getCompany().getDevelopers() : '정보없음'}|"></span>
                </p>
                <p class="card-text mb-1">•&nbsp전월 입/퇴사자수:
                    <span th:text="${post.getCompany().getJoinLeave().getJoin()}"></span>
                    /
                    <span th:text="${post.getCompany().getJoinLeave().getLeave()}"></span>
                </p>
                <p class="card-text mb-1">•&nbsp기술블로그:
                    <th:block th:if="${post.getCompany().getTechBlog() != null && !post.getCompany().getTechBlog().isEmpty()}">
                        <a th:href="${post.getCompany().getTechBlog()}" target="_blank" rel="noopener noreferrer">링크</a>
                    </th:block>
                    <th:block th:if="${post.getCompany().getTechBlog() == null || post.getCompany().getTechBlog().isEmpty()}">
                        <span>없음</span>
                    </th:block>
                </p>
                <p class="card-text mb-1">•&nbsp회사홈페이지:
                    <th:block th:if="${post.getCompany().getHomepage() != null && !post.getCompany().getHomepage().isEmpty()}">
                        <a th:href="${post.getCompany().getHomepage()}" target="_blank" rel="noopener noreferrer">링크</a>
                    </th:block>
                    <th:block th:if="${post.getCompany().getHomepage() == null || post.getCompany().getHomepage().isEmpty()}">
                        <span>없음</span>
                    </th:block>
                </p>
            </div>
        </div>
        <div class="card text-bg-light">
            <div class="card-header bg-transparent h5 text-muted">자격 요건</div>
            <div class="card-body">
                <p class="card-text" th:utext="${post.getRequirements()}"></p>
            </div>
        </div>
        <div class="card text-bg-light">
            <div class="card-header bg-transparent h5 text-muted">우대 요건</div>
            <div class="card-body">
                <p class="card-text" th:utext="${post.getPreferredRequirements()}"></p>
            </div>
        </div>
    </div>
</th:block>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>