.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.table-filter .media .summary {
    font-size: 14px;
    color: #000000;
}
.table-filter .media .summary1 {
    font-size: 14px;
    color: #4e6df1;
}
.table-filter .media .summary2 {
    font-size: 14px;
    color: #ff0000;
}
.table-filter .media .summary3 {
    font-size: 14px;
    color: #2BBCDE;
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }