<th:block th:fragment="admin_post_tables_script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $(".delete-button").click(function() {
                var postId = $(this).data("post-id");

                var confirmDelete = confirm("공고를 삭제하시겠습니까?");
                if (confirmDelete) {

                    $.ajax({
                        url: "/admin/deletePost/" + postId,
                        type: "get",
                        success: function() {
                            location.reload();
                        },
                        error: function() {
                            alert("An error occurred while deleting the post.");
                        }
                    });
                }
            });



            $(".recommended-button").click(function() {
                var postId = $(this).data("post-id");


                var confirmDelete = confirm("해당공고를 상단에 추천공고로 등록하시겠습니까?");
                if (confirmDelete) {

                    $.ajax({
                        url: "/post/recommendPost/" + postId,
                        type: "get",
                        success: function() {
                            location.reload();
                        },
                        error: function() {
                            alert("An error occurred while deleting the post.");
                        }
                    });
                }
            });




            $(".unrecommended").click(function() {
                var selectedIds = [];
                $(".user-checkbox:checked").each(function() {
                    selectedIds.push($(this).attr("id").replace("checkbox-", ""));
                });


                if (selectedIds.length > 0 && confirm("해당 추천공고를 해제하시겠습니까?")) {
                    $.ajax({
                        type: "GET",
                        url: "/post/unrecommended",
                        data: { "ids[]": selectedIds },
                        success: function(response) {
                            location.reload();
                        },
                        error: function(xhr, status, error) {

                        }
                    });
                }
            });


                $(".modify-button").click(function() {
                    var postId = $(this).data("post-id");
                    window.location.href = "/post/modify/" + postId;
                });


        });
    </script>
</th:block>








