<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Juniorok Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/admin_styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<style>
    a{
        text-decoration: none;
    }
</style>

</head>
<body class="sb-nav-fixed">


<!--어드민 네비바들 -->
<div th:insert="~{admin_header :: adminheader}"></div>


<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">전체 관리</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">관리자페이지 입니다.</li>
                </ol>



                <div class="row">

                    <!-- 상단 카드들 -->
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body"> <span th:text="${usercount}"></span> 명</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/user/adminusers"> 오늘 가입한 회원 입니다.</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body"><span th:text="${getPostStartAt}"></span> 건 </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/adminpost">오늘 모집을 시작한 공고 입니다.</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body"><span th:text="${getPostDeadlineToday}"></span> 건</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/adminpost">오늘이 마감인 공고 입니다.</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body"><span th:text="${reportremaincount}"></span> 건</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/post/report">처리가 필요한 신고건 입니다.</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- 차트-->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                금일 마감 공고(최근 3건)
                            </div>


                            <div class="card-body">

                                <div class="container">

                                    <div th:each="post : ${todayDeadlinePosts}" class="row">
                                        <div class="col">
                                            ⏳ [ <span th:text="${post.getCompany().getName()}"></span> ] 의 채용 포지션 [
                                            <span th:text="${post.position}"></span> ]
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                신고 처리(최근 3건)
                            </div>
                            <div class="card-body">

                            <div class="recentReports">
                                <div th:each="report : ${recentReports}" class="row">
                                    <div class="col">
                                        🚨 신고건 : [ <span th:text="${report.companyname}"></span> : <span th:text="${report.reason}"></span> ]
                                    </div>
                                </div>
                            </div>


                            </div>
                        </div>
                    </div>
                </div>




                <!-- 데이터테이블-->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        새롭게 올라온 공고(최근 3건)
                    </div>
                    <div class="card-body">

                        <div class="container">

                            <div th:each="post : ${recentPost}" class="row">
                                <div class="col">
                                    ✅ [ <span th:text="${post.getCompany().getName()}"></span> ] 의 채용 포지션 [
                                    <span th:text="${post.position}"></span> ]
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </main>


        <!-- 푸터-->
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Juniorok 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
