<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <title>board</title>
</head>
<body>
<div th:fragment="board" class="container">

    <div class="container">
            <section class="content">
                        <div class="panel-body">

                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                    <tr data-status="HTML" data-status1="CSS">
                                        <td></td>
                                        <td>
                                            <a href="javascript:;" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <a href="#" class="pull-left">
                                                    <img src="https://m.segye.com/content/image/2022/04/04/20220404514213.jpg" class="media-photo">
                                                </a>
                                                <div class="media-body">
                                                    <span class="media-meta pull-right">2023-08-18</span>
                                                    <h4 class="title">
                                                        프론트 개발자
                                                        <span class="pull-right HTML, CSS">(HTML, CSS)</span>
                                                    </h4>
                                                    <p class="summary">스마일게이트</p>
                                                    <p class="summary">지역:수원 연봉:3500</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr data-status="CSS">
                                        <td></td>
                                        <td>
                                            <a href="javascript:;" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <a href="#" class="pull-left">
                                                    <img src="https://images.samsung.com/kdp/aboutsamsung/brand_identity/logo/360_197_1.png?$FB_TYPE_B_PNG$" class="media-photo">
                                                </a>
                                                <div class="media-body">
                                                    <span class="media-meta pull-right">2323-08-18</span>
                                                    <h4 class="title">
                                                        프론트 개발자
                                                        <span class="pull-right CSS">(CSS)</span>
                                                    </h4>
                                                    <p class="summary">삼성</p>
                                                    <p class="summary">지역:서울 연봉:4500</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr data-status="JavaScripts">
                                        <td></td>
                                        <td>
                                            <a href="javascript:;" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <a href="#" class="pull-left">
                                                    <img src="https://play-lh.googleusercontent.com/tlG4t6Cb9ZiUTeDJzkVzVHiqIq84y-boCi6MGbQRmckU4mCgcIVTHappSofJxNE2nAg" class="media-photo">
                                                </a>
                                                <div class="media-body">
                                                    <span class="media-meta pull-right">2023-08-18</span>
                                                    <h4 class="title">
                                                        풀스택 개발자
                                                        <span class="pull-right JavaScripts">(JavaScripts)</span>
                                                    </h4>
                                                    <p class="summary">멀티캠퍼스</p>
                                                    <p class="summary">지역:서울 연봉:3000</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr data-status="HTML" data-status1="CSS">
                                        <td></td>
                                        <td>
                                            <a href="javascript:;" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <a href="#" class="pull-left">
                                                    <img src="https://img.etnews.com/photonews/2112/1483817_20211214124658_464_0001.jpg" class="media-photo">
                                                </a>
                                                <div class="media-body">
                                                    <span class="media-meta pull-right">2023-08-18</span>
                                                    <h4 class="title">
                                                        풀스택 개발자
                                                        <span class="pull-right HTML, CSS">(HTML, CSS, SpringBoot, React)</span>
                                                    </h4>
                                                    <p class="summary">넥슨</p>
                                                    <p class="summary">지역:서울 연봉:4000</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr data-status="CSS">
                                        <td></td>
                                        <td>
                                            <a href="javascript:;" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <a href="#" class="pull-left">
                                                    <img src="https://www.hyundai.co.kr/resources/assets/img/common/motor_logo.png" class="media-photo">
                                                </a>
                                                <div class="media-body">
                                                    <span class="media-meta pull-right">2023-08-18</span>
                                                    <h4 class="title">
                                                        백엔드 개발자
                                                        <span class="pull-right CSS">(CSS)</span>
                                                    </h4>
                                                    <p class="summary">현대</p>
                                                    <p class="summary">지역:판교 연봉:5000</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
            </section>
        </div>
    </div>
</body>
</html>