<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <title>board</title>
</head>
<body>
<div th:fragment="board" th:each="post, s : ${posts}" class="container">

    <div class="container">
            <section class="content">
                        <div class="panel-body">

                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                    <tr data-status="" data-status1="" >
                                        <td></td>
                                        <td>
                                            <a href="javascript:;" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <a href="#" class="pull-left">
                                                    <img th:src="@{/img/company.svg}" class="media-photo">
                                                </a>
                                                <div class="media-body">
                                                    <span class="media-meta pull-right" th:text="|D-${T(java.time.temporal.ChronoUnit).DAYS.between(T(java.time.LocalDate).now(), post.deadline)}|">2023-08-18</span>
                                                    <th:block th:each="positionSkill, s : ${post.getPositionSkills()}">
                                                        <th:block th:if="${s.count <= 3}">
                                                    <h4 class="title"><span class="pull-right HTML, CSS" th:text="${positionSkill.getName()}"></span></h4>
                                                        </th:block>
                                                    </th:block>
                                                    <h4 class="title" th:text="${post.Position}"></h4>
                                                    <p class="summary1" th:text="${post.getCompany().getName()}"></p>
                                                    <p class="summary">지역: <span th:text="${post.location}"></span>
                                                        <span class="summary2" th:if="${post.getCompany().getAvgSalary() != null}" th:text="|평균연봉: ${post.getCompany().getAvgSalary()}|"></span></p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
            </section>
        </div>
    </div>
</body>
</html>