<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Junior Ok</title>
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<th:block th:fragment="header">
    <header class="container p-4">
        <div class="row">
            <div class="col-4 d-flex align-items-center">
                <th:block th:if="${#ctx.springRequestContext.requestUri} != '/post/write'">
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WRITER')">
                        <a class="btn btn-primary" th:href="@{/post/write}">공고 작성</a>
                    </div>

                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_WRITER')">
                        <a class="btn btn-primary" th:href="@{/admin/main}">관리자 페이지</a>
                    </div>
                </th:block>
                <a type="button" class="btn btn-outline-secondary" th:href="@{/temp}">임시</a>
            </div>
            <div class="col-4">
                <a th:href="@{/}">
                    <img class="img d-block mx-auto" style="width: 200px" th:src="@{/img/logo/junior-ok-logo-color-transparent-background.png}"
                         alt="JuniorOk 로고"/>
                </a>
            </div>
            <div sec:authorize="isAnonymous()" class="col-4 d-flex align-items-center justify-content-end">
                <a th:href="@{/oauth2/authorization/github}">
                    <img class="img mx-2" style="width: 30px" th:src="@{/img/icon/github-mark.svg}"
                         alt="Github 로그인 이미지"/>
                </a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="지원 예정입니다!">
                    <img class="img mx-2" style="width: 30px" th:src="@{/img/icon/icon_google.svg}"
                         alt="Google 로그인 이미지"/>
                </a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="지원 예정입니다!">
                    <img class="img mx-2" style="width: 30px" th:src="@{/img/icon/icon_kakao.svg}"
                         alt="Kakao 로그인 이미지"/>
                </a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="지원 예정입니다!">
                    <img class="img mx-2" style="width: 30px" th:src="@{/img/icon/icon_naver.svg}"
                         alt="Naver 로그인 이미지"/>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()" class="col-4 d-flex align-items-center justify-content-end">
                <div class="row text-end">
                    <div>
                        <span sec:authentication="name" class="text-decoration-underline"></span>
                        <span>님 환영합니다.</span>
                    </div>
                    <div>
                        <div class="btn-group" role="group" aria-label="User Menu">
                            <a type="button" class="btn btn-outline-secondary" th:href="@{/mypage}">마이페이지</a>
                            <a type="button" class="btn btn-outline-secondary" th:href="@{/logout}">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>