<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Junior Ok</title>
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap_tooltip.js}"></script>
    <script th:src="@{/js/board.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar/sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/board.css}" rel="stylesheet">
    <link th:href="@{/css/searchbar.css}" rel="stylesheet">
    <link th:href="@{/css/carousel.css}" rel="stylesheet">
</head>
<body>
<th:block th:insert="~{header :: header}">Header</th:block>
<div class="container">
    <div class="row">
        <div class="row"><th:block th:insert="~{carousel :: carousel}"></th:block></div>
    </div>
    <div class="row">
        <aside class="card col-2">
            left sidebar
        </aside>
        <section class="container col-8">
            <div class="row"><th:block th:insert="~{searchbar :: searchbar}"></th:block></div>
            <div class="row"><th:block th:insert="~{board :: board}"></th:block></div>
        </section>
        <aside class="col-2">
            <th:block th:insert="~{sidebar :: sidebar}"></th:block>
        </aside>
    </div>
</div>
<th:block th:insert="~{sidebar_script :: sidebar_script}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<footer class="card">footer</footer>
</body>
</html>