
    <div th:fragment="sidebar" class="sidecontainer">
        <div class="side_bar">
            <ul>
                <p class="yellow underline">💼취업정보사이트</p>
                <li><a class="yellow underline" href="https://www.jobkorea.co.kr" target="_blank">잡코리아</a></li>
                <li><a class="yellow underline" href="https://www.saramin.co.kr" target="_blank">사람인</a></li>
                <li><a class="yellow underline" href="https://www.jobplanet.co.kr" target="_blank">잡플래닛</a></li>
            </ul>
            <br>
            <ul>
                <p class="yellow underline">🏢기업정보 사이트</p>
                <li><a class="yellow underline" href="https://www.jobdata.co.kr/jbdt/is/is010.do" target="_blank">잡데이터 연봉조회</a></li>
            </ul>
            <br>
            <ul>
                <p class="yellow underline">💻취업 성공</p>
                <li><a class="yellow underline" href="https://www.saramin.co.kr/zf_user/tools/reverse-salary-calculator" target="_blank">실수령액 계산기</a></li>
                <li><a class="yellow underline" href="https://www.jobkorea.co.kr/service/user/tool/spellcheck" target="_blank">맞춤법검사기</a></li>
                <li><a class="yellow underline" href="https://www.jobkorea.co.kr/service/user/tool/textcount" target="_blank">글자수카운터</a></li>
<!--                <li><button id="topbtn"><img src="/css/image/top.png" alt="top" width="20px" height="20px"></button></li>-->
                <li><button id="topbtn">위로▴</button></li>
            </ul>
        </div>
    </div>


