/*사이드바*/
.sidecontainer {
    position: fixed;
    top: 120px;
    right: 0;
    width: 150px;
    height:auto;
    /*background-color : whitesmoke;*/
    background-color: white;
    overflow: hidden;
}


/*가로 1500px 아래로 내려가면 안보임*/
@media screen and (max-width: 1500px) {
    .sidecontainer {
        display: none !important;
    }
}

/*사이드바 크기, 글씨체 설정*/
.side_bar {
    padding: 20px;
    width: 150px;
    height: 40%;
    font-family: "Malgun Gothic",dotum,gulim,sans-serif;
    color: #373f57;
    font-size: 0.7rem;
}

/*사이드바 안의 p 굵게 ex.목록*/
.side_bar p{
   /*padding-right: 20px;*/
    width: 75%;
    font-weight: bold;
    font-size: 0.8rem;
}

/*사이드바 내부설정*/
.side_bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

.side_bar li {
    margin-bottom: 10px;
}

li a{
    text-decoration-line: none;
    color : #373f57;
}
.sidebar-button,
.sidebar-button-link{
    font-size: 0.7rem;
    margin-bottom: 5px;
}

/*a:hover{ color:slateblue}*/


#topbtn {
    margin-top: 5px;
    width: 75%;
    padding: 10px;
    /*border: 1px solid lightgray;*/
    background-color: white;
    border: none;
    /*background-color: ghostwhite;*/
    color: #373f57;
    cursor: pointer;
}



/*노란색 언더라인효과*/
.underline {
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    /*font-size: 3em;*/
    /*font-weight: 700;*/
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.8s;
    color: #000;
    cursor: pointer;
}
/*@media (min-width: 1000px) {*/
/*    .underline {*/
/*        !*font-size: 5em;*!*/
/*    }*/
/*}*/
.underline.yellow {
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
}
.underline:hover {
    background-size: 100% 100%;
}
.entry-content u:hover {
    background-size: 100% 100%;
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
}

